
<div id="navbar-fixed" class="container">
<nav style="height: 70px;background: linear-gradient(to right,rgb(177, 162, 207),rgb(25, 46, 212));border-radius: 2%;">
  <div class="container">

    <a class="navbar-brand" >
      <img style="margin-left: -30px;margin-top: -20px;height: 70px;border-radius: 100px;" src="../../assets/rehman logo.jpg" alt="" width="85" height="54" >
              <a style="margin-left: 20px;margin-top: 29px;color: white;" (click)="rout('/home')" class="all" type="submit"> <h5>Home</h5></a> 
                  <a style="margin-left: 20px;margin-top: 29px;color: white;" (click)="rout('/toys')" class="all" type="submit"> <h5>toys</h5></a>
                    <a style="margin-left: 20px;margin-top: 29px;color: white;" (click)="rout('/moretoys')" class="all" type="submit"> <h5>other toy</h5></a>
                   <a style="margin-left: 20px;margin-top: 29px;color: white;" (click)="rout('/gifts')" class="all" type="submit"> <h5>gifts</h5></a>
    </a>

  </div>
</nav>
</div>
