<div>
    <form [formgroup]="myForm" (ngSubmit)="onSubmit">
        <label for="name">name</label>
        <input  id="name" formControlName="name">
        <div *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched">
            <small *ngIf="myForm.get('name')?.hasError('required')"></small>
            <small *ngIf="myForm.get('name')?.hasError('minlength')"></small>
        </div>

        <label for="password">Password</label>
        <input  id="password" formControlName="password">
        <div *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched">
            <small *ngIf="myForm.get('password')?.hasError('required')"></small>
            <small *ngif="myForm.get('password')?.hasError('minlength')">two chracter is required</small>
        </div>
        <button type="submit" [disabled]="myForm.invalid">sign</button>
    </form>
</div>