<app-navbar></app-navbar>
<!-- <div class="container">
<marquee style="color: rgb(31, 28, 28);background: linear-gradient(to right, rgb(121, 216, 98), rgb(0, 204, 255));" behavior="app-navbar" direction="left to rainbow-colored">
  <h2>Rehman Gifts Center Mian Channu - All Gifts And Toys Available At Reasonable Prices | Free Home Delivery In City | Order Now</h2>
</marquee>

</div> -->

<!-- <br> -->
<!-- <div class="container">
<div class="row">

  <div class="col-sm-3">
    <img src="../../assets/WhatsApp Image 2025-08-07 at 13.36.00.jpeg" alt="" width="550px">
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <h2 class="about">
      Colourful building blocks for kids:
      <h3>Fun way to build creativity and skills. Bright, varied blocks make every playtime an exciting learning experience.</h3>
    </h2>
    <h1 class="price">Price:1500 
      <button (click)="routes('/userdata')" class="button1" type="submit">Order Now</button>
    </h1>
  </div>
</div>
</div> -->
<!-- <br> -->

<br>
<br>
<br>

<div class="container">
<div class="row" style="background: linear-gradient(to right, blue,aqua);">
  <div id="doctor" class="col-sm-3">
    <div class="doctor">
      <img style="height: 250px;" src="../../assets/doctor.jpeg" class="card-img-top" alt="">
      <div id="cardtitle" class="card-body">
        <h5 style="color: black;font-size: 25px;" class="card-title">Doctor Toy Set</h5>
        <p class="card-text">A complete doctor kit that sparks creativity and role play. Kids will love learning while having fun.</p>
        <h3>Price:2000</h3>
        <a style="margin-left: 34px;border-radius: 50px;" class="btn btn-primary" (click)="routes('/userdata')">Order Now</a>
      </div>
    </div>
  </div>

  <div id="yellowcar" class="col-sm-3">
    <div class="yellowcar">
      <img src="../../assets/car red.jpeg" class="card-img-top" alt="">
      <div class="card-body">
        <h5 style="color: black;font-size: 25px;" class="card-title">Architects bricks 3122</h5>
        <p class="card-text">Build, design and create endless structures. Perfect toy for boosting kids’ creativity and imagination.</p>
        <h3>Price:2000</h3>
        <a style="margin-left: 34px;border-radius: 50px;" class="btn btn-primary" (click)="routes('/userdata')">Order Now</a>
      </div>
    </div>
  </div>

  <div id="yellowcar" class="col-sm-3">
    <div class="yellowcar">
      <img src="../../assets/car yellow.jpeg" class="card-img-top" alt="">
      <div class="card-body">
        <h5 style="color: black;font-size: 25px;" class="card-title">Architects bricks 3128</h5>
        <p class="card-text">Colorful and engaging blocks set. Keeps kids busy while enhancing problem-solving skills.</p>
        <h3>Price:2000</h3>
        <a style="margin-left: 34px;border-radius: 50px;" class="btn btn-primary" (click)="routes('/userdata')">Order Now</a>
      </div>
    </div>
  </div>
<!-- 
  <div id="resturant" class="col-sm-3">
    <div class="resturant">
      <img style="height: 260px;" src="../../assets/resturant car.jpeg" class="card-img-top" alt="">
      <div class="card-body">
        <h5 style="color: black;font-size: 25px;" class="card-title">Restaurant Car Toy</h5>
        <p class="card-text">Unique car toy with a restaurant theme. Great for fun and imaginative play.</p>
        <h3>Price:2000</h3>
        <a style="margin-left: 34px;border-radius: 50px;" class="btn btn-primary" (click)="routes('/userdata')">Order Now</a>
      </div>
    </div>
  </div>
</div> -->

</div>

<div class="container">
<div class="row">
  <div class="col-sm-4">
    <img class="sports" src="../../assets/playing car.jpeg" alt="" width="520px">
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-4" style="margin-left: 12%;margin-top: 30px;">
    <h2>Exciting stunt and racing track with a cool car. Perfect for kids who love speed and adventure play.</h2>
    <h1>Price:3500 
      <button class="playcarbutton" type="submit" (click)="routes('/userdata')">Order Now</button>
    </h1>
  </div>
</div>

</div>

               <div class="container">
<div id="twondcardline" class="row">
  <div class="col-sm-3">
    <div class="flyinsecur">
      <img style="height: 280px;" src="../../assets/flying secur.jpeg" class="card-img-top" alt="">
      <div class="card-body">
        <h5 style="color: black;font-size: 25px;" class="card-title">Flying Saucer</h5>
        <p class="card-text">Exciting flying saucer toy for outdoor fun. Lightweight, safe and super entertaining for kids.</p>
        <h3>Price:2000</h3>
        <a style="margin-left: 34px;border-radius: 50px;" class="btn btn-primary" (click)="routes('/userdata')">Order Now</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="metalbike">
      <img style="height: 280px;" src="../../assets/metal bike.jpeg" class="card-img-top" alt="">
      <div class="card-body">
        <h5 style="color: black;font-size: 25px;" class="card-title">Metal Bike</h5>
        <p class="card-text">A sleek and sturdy miniature bike toy with realistic details. Perfect gift for bike lovers.</p>
        <h3>Price:2000</h3>
        <a style="margin-left: 34px;border-radius: 50px;" class="btn btn-primary" (click)="routes('/userdata')">Order Now</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="sportcar">
      <img style="height: 280px;" src="../../assets/sport car.jpeg" class="card-img-top" alt="">
      <div class="card-body">
        <h5 style="color: black;font-size: 25px;" class="card-title">Sport Car</h5>
        <p class="card-text">Stylish sports car toy built for speed and fun. Durable body for endless racing excitement.</p>
        <h3>Price:2700</h3>
        <a style="margin-left: 34px;border-radius: 50px;" class="btn btn-primary" (click)="routes('/userdata')">Order Now</a>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="minihand">
      <img style="height: 280px;" src="../../assets/minihand fann.jpg" class="card-img-top" alt="">
      <div class="card-body">
        <h5 style="color: black;font-size: 25px;" class="card-title">Mini Handled Fan</h5>
        <p class="card-text">A portable mini fan toy kids love to play with. Cute, handy and fun for all seasons.</p>
        <h3>Price:1600</h3>
        <a style="margin-left: 34px;border-radius: 50px;" class="btn btn-primary" (click)="routes('/userdata')">Order Now</a>
      </div>
    </div>
  </div>
</div>
</div>
<app-toystab></app-toystab>
<button class="othertoy" (click)="routes('/moretoys')" type="button">More Toys -></button>
