<div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <label for="password">Password:</label>
        <input  id="password" formControlName="password">
        <div *ngIf="myForm.get('password')?.invalid && myForm.get('password')?.touched">
            <small *ngIf="myForm.get('password')?.hasError('required')"></small>
            <small *ngIf="myForm.get('password')?.hasError('minlength')">At least three chracter is required</small>
        </div>
        <button type="submit" [disabled]="myForm.invalid">submit</button>
    </form>
</div>