<app-navbar></app-navbar>
<br><br><br>

<div id="all">

  <!-- Desktop Table -->
  <table id="table" class="desktop-table">
      <thead id="tablehead">
          <tr>
            <th>Sr</th>
            <th>Image</th>
            <th>Name</th>
            <th>About</th>
            <th>Price</th>
            <th></th>
          </tr>
      </thead>
      <tbody id="tablebody">
          <tr *ngFor="let toy of toys; let i = index">
              <td>{{i + 1}}</td>
              <td><img [src]="toy.img" alt="{{toy.name}}"></td>
              <td>{{toy.name}}</td>
              <td>{{toy.about}}</td>
              <td>{{toy.price}}</td>
              <td><button class="order-btn" (click)="othertoy('/userdata')">Order Now</button></td>
          </tr>
      </tbody>
  </table>

  <!-- Mobile Cards -->
  <div class="mobile-cards">
      <div class="card" *ngFor="let toy of toys; let i = index">
          <h5>Sr: {{i + 1}}</h5>
          <img [src]="toy.img" alt="{{toy.name}}">
          <h4>{{toy.name}}</h4>
          <p>{{toy.about}}</p>
          <h5>Price: {{toy.price}}</h5>
          <button class="order-btn" (click)="othertoy('/userdata')">Order Now</button>
      </div>
  </div>

</div>