<app-navbar></app-navbar>
<br>
<br>
<br>
<div class="container">
<marquee class="navbar-fixed" style="color: rgb(24, 23, 23);background: linear-gradient(to right, rgb(121, 216, 98), rgb(0, 204, 255)); font-weight: bold;font-style: italic;" behavior="app-navbar" direction="left to rainbow-colored">
  <h2>Rehman Gifts Center Mian Channu - All Gifts And Toys Available At Reasonable Prices | Free Home Delivery In City | Order Now</h2>
</marquee>
</div>
<br>
<div class="container">
<div id="img" class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4"><img src="../../assets/WhatsApp Image 2025-08-08 at 02.11.30.jpeg" alt="" width="500px"> </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4"><h1 style="font-style: italic;">"Big dreams start small"! This toy car is perfect for kids and is sure to bring a smile to their face. With its cool design and vibrant colors, its great gift for any little one.
      
    </h1><h3>  Price:2300 <button (click)="homeuser('/userdata')" type="submit">Order Now</button></h3></div>

</div>
</div>
<br>
<div class="container">
<div class="row" style="background: linear-gradient(to right,rgb(82, 197, 226),rgb(69, 24, 141));">
    <div class="col-sm-3">
<div id="fly"  class="card" style="width: 18rem;">
  <img id="carfly"  src="../../assets/gifts24.jpg" class="card-img-top" alt="" width="110px">
  <div class="card-body">
    <h5 class="card-title">Aeroplane toy</h5>
    <p class="card-text">This toy Aeroplane is perfect for kids and enjoy.Blue, Red and White colour are avalable </p>
    <h3>Price:2000</h3>
    <a style="margin-left: 34px;border-radius: 50px;" (click)="homeuser('/userdata')" class="btn btn-primary">Order Now</a>
  </div>
</div>
</div>

 <div class="col-sm-3">
<div id="square"  class="card">
  <img id="squarebord"   src="../../assets/gifts23.jpg" class="card-img-top" alt="" width="60px">
  <div class="card-body">
    <h5 class="card-title">Square Bord</h5>
    <p class="card-text"> The toy is a rainbow-colored with a grid of bubbles that can be popped,similar to a sress ball </p>
    <h3>Price:2000</h3>
    <a style="margin-left: 34px;border-radius: 50px;"  (click)="homeuser('/userdata')" class="btn btn-primary">Order Now</a>
  </div>
</div>
</div>


 <div class="col-sm-3">
<div id="gadgt"  class="card">
  <img id="dance"   src="../../assets/gifts7.jpg" class="card-img-top" alt="" width="60px">
  <div class="card-body">
    <h5 class="card-title">Dance Cactus</h5>
    <p class="card-text">Meet the dance cactus , quirky and entertaining toy that perfect for kids and adults alike </p>
    <h3>Price:2000</h3>
    <a style="margin-left: 34px;border-radius: 50px;" (click)="homeuser('/userdata')" class="btn btn-primary">Order Now</a>
  </div>
</div>
</div>


 <div class="col-sm-3">
<div id="dressing"  class="card">
  <img id="table"   src="../../assets/gifts20.jpg" class="card-img-top" alt="" width="60px">
  <div class="card-body">
    <h5 class="card-title">Dressing Table toy</h5>
    <p class="card-text">Add a touch of glamour to your dressing table with this beautiful toy perfect for your kids and they enjoy. </p>
    <h3>Price:2000</h3>
    <a style="margin-left: 34px;border-radius: 50px;" (click)="homeuser('/userdata')" class="btn btn-primary">Order Now</a>
  </div>
</div>
</div>

</div> 
</div>

<div class="container">

<div class="row" id="mian">
  <div class="col-sm-2"></div>
 <div class="col-sm-3">
<div id="gadgt"  class="card">
  <img id="dance"   src="../../assets/watch1.jpg" class="card-img-top" alt="" width="60px">
  <div class="card-body">
    <h5 class="card-title">Black Watch</h5>
    <p class="card-text">✨ "Premium design with unmatched durability — perfect for every occasion. A blend of style and elegance just for you."</p>
    <h3>Price:4000</h3>
    <a style="margin-left: 34px;border-radius: 50px;" (click)="homeuser('/userdata')" class="btn btn-primary">Order Now</a>
  </div>
</div>
</div>

 <div class="col-sm-3" id="blackwatch">
<div id="gadgt"  class="card">
  <img id="dance"   src="../../assets/touch watch.jpeg" class="card-img-top" alt="" width="60px">
  <div class="card-body">
    <h5 class="card-title">Smart Watch</h5>
    <p class="card-text">Smart, stylish and comfortable — a perfect choice for modern lifestyle. Stay ahead with technology and fashion together." </p>
    <h3>Price:2800</h3>
    <a style="margin-left: 34px;border-radius: 50px;" (click)="homeuser('/userdata')" class="btn btn-primary">Order Now</a>
  </div>
</div>
</div>

</div>

</div>

<br>

<div class="container">

<div id="info" class="row">
  <div class="col-sm-1"> </div>
  <div class="col-sm-3" id="about"><h2>About Us</h2><p>We are offering all gifts and geinune toys for kids in a reasonable price.Free home delivery in city Mian Channu.</p></div>
<div class="col-sm-1"></div>
  <div class="col-sm-3" id="adress"><h2>Adress</h2><p>Rehman Gifts Center Banu Bazar Mian Channu District Khanewal Division Multan (Pakistan) </p></div>
  
  <div class="col-sm-3" id="contact"><h2>Contact info</h2><h6>phone#</h6><p>+92 3367151129 (Muhammad Asadullah) <br>+92 3328515129 (Aness Ur Rehman)</p></div>
</div>

</div>

<div class="container">
<div class="row" id="foter">
  <div class="col-sm-12"><div ><p class="para">@copyright:Rehman Gift Centre(Mian Channu)</p></div></div>
</div>
</div>